<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ASP.NET Zero NuGet Source" value="https://nuget.aspnetzero.com/1a5eeaab830e4d13aad821e7964513da/v3/index.json" />
  </packageSources>
</configuration>
