<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ASP.NET Zero NuGet Source" value="https://nuget.aspnetzero.com/30ee97d66c4440f78c88d40160ccf929/v3/index.json" />
  </packageSources>
</configuration>
