

ALTER TABLE [dbo].AbpUsers
ADD RecoveryCode nvarchar(max) NULL;
GO

ALTER TABLE [AbpTenants]
ADD 
    [DarkLogoFileType] [nvarchar](64) NULL,
    [DarkLogoId] [uniqueidentifier] NULL,
    [DarkLogoMinimalFileType] [nvarchar](64) NULL,
    [DarkLogoMinimalId] [uniqueidentifier] NULL,
    [LightLogoMinimalFileType] [nvarchar](64) NULL,
    [LightLogoMinimalId] [uniqueidentifier] NULL;
    
    --change LogoFileType to LightLogoFileType column
    --change LogoId to LightLogoId column
GO


CREATE TABLE [dbo].[AppSubscriptionPaymentProducts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SubscriptionPaymentId] [bigint] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Count] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ExtraProperties] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [bigint] NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeleterUserId] [bigint] NULL,
	[DeletionTime] [datetime2](7) NULL,
 CONSTRAINT [PK_AppSubscriptionPaymentProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[AppSubscriptionPaymentProducts]  WITH CHECK ADD  CONSTRAINT [FK_AppSubscriptionPaymentProducts_AppSubscriptionPayments_SubscriptionPaymentId] FOREIGN KEY([SubscriptionPaymentId])
REFERENCES [dbo].[AppSubscriptionPayments] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[AppSubscriptionPaymentProducts] CHECK CONSTRAINT [FK_AppSubscriptionPaymentProducts_AppSubscriptionPayments_SubscriptionPaymentId]
GO

ALTER TABLE [dbo].AppSubscriptionPayments
ADD ExtraProperties nvarchar(max) NULL,
IsProrationPayment bit not null

GO

