ALTER TABLE [dbo].[MWorkTimeSheet]
ADD [TenantId] [int] NULL;

ALTER TABLE [dbo].[MPriority]
ADD [TenantId] [int] NULL;
ALTER TABLE [dbo].[RoomBlock]
ADD [TenantId] [int] NULL;
ALTER TABLE [dbo].[MWorkTimeSheetNoteTemplate]
ADD [TenantId] [int] NULL;
ALTER TABLE [dbo].[MWorkNotes]
ADD [TenantId] [int] NULL;
update MWorkTimeSheet set TenantId=1
update MPriority set TenantId=1
update RoomBlock set TenantId=1
update MWorkTimeSheetNoteTemplate set TenantId=1
update MWorkNotes set TenantId=1


